<body>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="./assets/img/camara.png" class="d-block w-100" alt="Camara de Seguridad">
            </div>
            <div class="carousel-item">
                <img src="./assets/img/disco.png" class="d-block w-100" alt="Disco duro">
            </div>
        </div>
    </div>

    <div>
        <h1 class="text-center">Productos</h1>
        <div class="card-body row row-cols-2" *ngIf="producto.length>0" style="display: flex;">
            <div class="card-body" *ngFor="let productos of producto " style="border-style: solid;">
                <h1>{{productos.nombre}}</h1>
                <img src="{{productos.foto}} " alt=" " style="max-width: 40%; display: block; ">
                <label>{{productos.descripcion}}</label>
                <label>{{productos.preciounitario | currency}}</label>
                <button class="btn" style="color: white;background-color: #4AA7ED;"><i class="fas fa-cart-plus"></i></button>
            </div>
        </div>
    </div>
    <div class="footer " style="background-color: #4AA7ED; ">
        <footer class="row row-cols-5 py-5 my-5 border-top ">
            <div class="col " style="display: inline-block; margin: auto; ">
                <h1>Acerca de</h1>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><label>Encuentranos en: Fuente del Descanso, #300 Fracc. Las Fuentes</label></li>
                    <li class="nav-item mb-2"><label>C.P. 34220</label></li>
                    <li class="nav-item mb-2"><label>Email: sectelecomdgo@gmail.com</label></li>
                </ul>
            </div>

            <div class="col " style="display: inline-block; margin: auto; ">
                <img src="./assets/img/vectornosek.svg " style="width: 100%; " alt="Logo ">
                <p>© 2021</p>
            </div>
        </footer>
    </div>
</body>