<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Mis Compras</span>
            <h5 *ngIf="Mcompras.length==0" style="text-align: end;">No hay datos para mostrar</h5>
        </div>
    </div>
    <form class="mt-4 card" *ngIf="Mcompras.length>0">
        <tr class="card-body compra" *ngFor="let compra of Mcompras">
            <td><b>ID de la compra:</b> {{compra.IDCompra}}</td>
            <div class="infoCliente">
                <td><b>Nombre del cliente:</b> {{compra.Cliente}}</td>
                <td><b>&nbsp;Correo:</b> {{compra.Correo}}</td>
                <td><b>Direccion:</b> {{compra.Direccion}}</td>
                <td><b>&nbsp;Telefono:</b> {{compra.Telefono}}</td>
            </div>
            <div class="infoCliente">
                <td><b>Fecha de compra:</b> {{compra.FechaCreacion}}</td>
                <td><b>&nbsp;Estado:</b> {{compra.Estado}}</td>
            </div>
            <td><b><i>Productos:</i></b></td>
            <td style="display: flex;" *ngFor="let producto of compra.Productos">
                <tr><b>Nombre:</b> {{producto.nombre}}&nbsp;</tr>
                <tr id="descripcion"><b>Descripcion:</b> {{producto.descripcion}}&nbsp;</tr>
                <tr><b>&nbsp;Precio:</b> ${{producto.preciounitario}}&nbsp;</tr>
                <tr><b>Cantidad:</b> {{producto.cantidad}}&nbsp;</tr>
                <tr><b>Total(IVA incluido):</b> ${{producto.totalWithIVA}}&nbsp;</tr>
                <img src="{{producto.foto}}" alt="">
            </td>
            <td style=" text-align: end;"><b>Total:</b> ${{compra.TotalWithIVA}}</td>
        </tr>
    </form>
</div>