<div class="container pt-4">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card text-center">
                <div class="card-body">
                    <h3>Por favor escribe tu correo electrónico</h3>
                    <form  class="mt-4">
                        <div class="row">
                            <div class="col">
                                <label for="email" style="margin-right: 380px;margin-bottom: 5px;">Correo electrónico</label>
                                <input type="email" class="form-control" placeholder="Correo electrónico" [formControl]="userEmail" required/>
                            </div>
                        </div>
                        <div class="text-center mt-4">
                            <button class="btn btn-primary btn-lg" (click)="onReset()">Solicitar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>