img {
    vertical-align: middle;
    width: 45%;
    /* margin: auto; */
    margin-left: 0;
    /* margin: 0; */
    /* margin-right: 0; */
}

#card-info {
    display: table;
    width: 33%;
}

#car-products {
    width: initial;
}

.row {
    margin-right: -190px;
    margin-left: -50px;
}

form {
    display: block;
    margin: auto;
    margin-top: 1% !important;
}