<div class="container pt-4" style="    display: block;
margin: auto;">
    <div class="row">
        <div class="col-lg-6 offset-lg-3" style="display: contents;">
            <div id="car-products" class="card text-center">
                <div class="card-body">
                    <h3>Productos Seleccionados</h3>
                    <h5 *ngIf="carritoProductos.length==0" style="text-align: center">No hay datos para mostrar</h5>
                    <form class="mt-4">
                        <div class="card">
                            <div class="card-body">
                                <tr *ngFor="let productoCar of carritoProductos" style="display: grid">
                                    <div>
                                        <td style="display: block; text-align: center;">{{productoCar.nombre}}</td>
                                        <img src="{{productoCar.foto}}" alt="">
                                    </div>
                                    <td>{{productoCar.preciounitario | currency}}</td>
                                    <td>
                                        <label for="">Cantidad:</label>
                                        <input id="cantidadProducto" type="number" class="form-control form-control-lg mt-1" placeholder="Cantidad" value="{{productoCar.cantidad}}" (change)="cantidadProducto($event,productoCar)">
                                    </td>
                                    <td>Total: {{productoCar.total}}</td>
                                </tr>
                                <button id="vaciarCar" type="text" class="btn btn-secondary btn-lg" *ngIf="carritoProductos.length!==0" style="margin-right: 10px;" (click)="vaciarCarrito($event)">Vaciar Carrito</button>
                                <button id="verTotal" class="btn btn-dark btn-lg" *ngIf="carritoProductos.length!==0" type="button" style="background-color: #4AA7ED !important; border:#4AA7ED;" (click)=verTotal($event)>Ver Total</button>
                                <h6 *ngIf="carritoProductos.length!==0">Total Acumulado: {{acumuladoSubTotal}}</h6>
                                <h6 *ngIf="carritoProductos.length!==0">Total Acumulado CON IVA: {{acumuladoTotalWithIVA}}</h6>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div id="card-info" class="card">
                <div class="card-body">
                    <h3 style="text-align: center">Datos de Tarjeta
                        <div id="loading" class="spinner-border text-warning float-right" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </h3>
                    <ngx-stripe-card [options]="cardOptions" [elementsOptions]="elementsOptions"></ngx-stripe-card>
                    <button id="realizarPago" class="btn btn-success btn-lg" type="submit" (click)="createToken()" style="margin: auto;
                    display: block;
                    margin-top: 2%;">Realizar pago</button>
                </div>
            </div>
        </div>

    </div>
</div>

<ng-template #myModalConf let-modal>

    <div class="modal-content" style="padding-left: 3%;
    padding-right: 3%;">
        <div class="modal-header">
            <h5 style="display: block; margin: auto;" class="modal-title">Verifique su compra antes de continuar</h5>
            <button style="color: white; display: none;
            background: red;
            border: red;
            border-radius: 5px;" type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close('Cerrado desde la ventana')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <table class="modal-body">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Cantidad Producto</th>
                    <th>Total</th>
                    <th>Total+IVA</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let productoCar of carritoProductos">
                    <td>{{productoCar.nombre}}</td>
                    <td>{{productoCar.cantidad}}</td>
                    <td>{{productoCar.total}}</td>
                    <td>{{productoCar.totalWithIVA}}</td>
                </tr>
            </tbody>
        </table>

        <div class="modal-footer">
            <span *ngIf="submitted && createPay.invalid" style="color: red; display: block; margin: auto;">TODOS LOS CAMPOS SON OBLIGATORIOS</span>
            <h5 style="margin: auto; font-size:small;" class="modal-title">A continuacion rellene los siguientes datos, mismos que serán usados para la comunicacion y/o entrega de su compra.</h5>
            <form class="mt-4" [formGroup]="createPay" (ngSubmit)="modal.close(1)">
                <label for="nombre">Nombre Completo</label>
                <input type="text" class="form-control form-control-lg mt-1" formControlName="nombre" placeholder="Nombre">

                <label for="direccion">Direccion Completa</label>
                <input type="text" class="form-control form-control-lg mt-1" formControlName="direccion" placeholder="Direccion Completa">

                <label for="telefono">Telefono</label>
                <input type="number" class="form-control form-control-lg mt-1" formControlName="telefono" placeholder="Telefono">
            </form>
        </div>
        <div class="modal-footer">
            Total a pagar(IVA incluido) = {{acumuladoTotalWithIVA}}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modal.close(0)">Olvidé algo</button>
            <button type="submit" class="btn btn-primary" (click)="modal.close(1)">Continuar con la compra</button>
        </div>
    </div>
</ng-template>